<div ng-class="{successStyle: row.getProperty(col.field) == 'Success',
				processedStyle: row.getProperty(col.field) == 'Processed',
				pendingStyle: row.getProperty(col.field) == 'Pending',
				processingStyle: row.getProperty(col.field) == 'Processing',
				holdingStyle: row.getProperty(col.field) == 'Holding',
				failedStyle: row.getProperty(col.field) == 'Failed',
				expiredStyle: row.getProperty(col.field) == 'Expired'}">
  <div class="ngCellText">{{row.getProperty(col.field)}}</div>
</div>