<div class="header" ng-controller="NavbarCtrl">
  <ul class="nav nav-pills pull-right">
    <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}"  ng-show-auth="item.state">
        <a ng-href="{{item.link}}">{{item.title}}</a>
    </li>
    <li ng-show-auth="login" ng-controller="LoginController">
    	<a href="#" ng-click="logout()">Log Out</a>
    </li>
    <li ng-show-auth="['logout','error']"  ng-class="{active: isActive('/login')}">
    	<a href="#/login">Log In</a>
    </li>
  </ul>
  <h3 class="text-muted">daonVoiceApp</h3>
</div>